
<p id="notice"><%= notice %></p>

<p>    <%= link_to 'Facebook', controller: "play", id: "facebook" %></p>

<p>    <%= link_to 'Twitter', controller: "play", id: "twitter" %></p>

<p>    <%= link_to 'Instagram', controller: "play", id: "instagram" %></p>
